<section class="container-fluid text-center w-50 mb-5">
    <h1 class="pt-5 font-weight-bold font-capitalized display-3">Rabarberos<sub class="pink-text">20</sub></h1>
    <p class="px-5 mb-5 pb-3 lead grey-text">
        Papildini savu vārdu krājumu, spēlējot
        <a routerLink="scrabble">
            <strong class="light-blue-text">Scrabble</strong>, 
        </a>
        atklājot latviešu
        <a href="http://www.tezaurs.lv/">
            <strong class="light-blue-text">Tēzaurs</strong>
        </a> spēku!
    </p>
    <div class="row">
        <div class="col-lg-4">
            <i id="search" class="fa fa-search fa-4x red-text"></i>
            <h5 class="font-weight-bold mt-3">Atrodi</h5>
            <p class="grey-text">
                Meklē vārdus pēc Tevis noteiktiem meklēšanas kritērijiem
            </p>
        </div>
        <div class="col-lg-4">
            <i id="star" class=" fa fa-star fa-4x yellow-text"></i>
            <h5 class="font-weight-bold mt-3">Saglabā</h5>
            <p class="grey-text">
                Ieliec zvaigznīti vārdiem, kuri varētu noderēt vēlāk
            </p>
        </div>
        <div class="col-lg-4">
            <i id="share" class="fa fa-comments-o fa-4x teal-text"></i>
            <h5 class="font-weight-bold mt-3">Dalies</h5>
            <p class="grey-text">
                Pastāsti draugiem par saviem atradumiem rabarberos
            </p>
        </div>
    </div>
</section>