<section class="container-fluid w-50 mb-5 text-justify">
  <h1 class="text-center pt-5 font-weight-bold display-3">Scrabble</h1>
  <div class="grey-text">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          "Scrabble" ir vienkārša un izglītojoša galda spēle. Tā ir viena no populārākajām un visvairāk pirktajām spēlēm pasaulē, pieejama
          arī latviešu valodā. Lielisks veids kā papildināt katra indivīda leksiku, attīstīt gramatikas iemaņas, mācīties
          plānot, kā arī stratēģiski domāt, strādāt komandā, vingrināt atmiņu un domāšanu.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8">
        <p>
          Spēle paredzēta no 2 līdz 4 spēlētājiem. Spēles laikā nepieciešams salikt vārdus krustām šķērsām uz spēles galdiņa krustvārdu
          mīklas formā, izmantojot burtu plāksnītes, uz kurām ir norādīts atšķirīgs punktu skaits. Spēles mērķis — savākt
          lielāko punktu skaitu. Spēlētāji cenšas pēc iespējas ātrāk izmantot burtus ar lielāko punktu skaitu un izveidot
          labākas kombinācijas.
        </p>
      </div>
      <div class="col-xl-4">
        <img src="assets/scrabbleLV.jpg" alt="" class="img-fluid img-thumbnail">
      </div>
    </div>
  </div>
</section>