<!-- <form [formGroup]="registerForm" class="container-fluid w-50 mb-5">
  <h1 class="pt-5 font-weight-bold font-capitalized display-3 text-center">Ielogošanās</h1>
  <div class="md-form">
    <i class="fa fa-envelope prefix grey-text"></i>
    <input type="text" formControlName="orangeFormEmail" id="orangeForm-email" class="form-control" mdbInputDirective>
  </div>
  <div class="md-form">
    <i class="fa fa-lock prefix grey-text"></i>
    <input type="password" formControlName="orangeFormPass" id="orangeForm-pass" class="form-control" mdbInputDirective>
  </div>
  <div class="text-center pt-3">
    <input class="btn btn-pink waves-light" value="Ielogoties" mdbWavesEffect>
  </div>
</form> -->