<form class="container-fluid w-50 mb-5">
    <h1 class="pt-5 font-weight-bold font-capitalized display-3 text-center">Ielogošanās</h1>
    <div>
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="text" placeholder="elektroniskais pasts" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password"placeholder="slepenais noslēpums" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="text-center pt-3">
      <input class="btn btn-pink waves-light" value="Ielogoties" (click)="signIn()">
    </div>
  </form>