<div class="container mb-5">
  <h1 class="pt-5 font-weight-bold font-capitalized display-3 text-center">Vārdu Meklēšana</h1>

  <div class="row">
    <div class="col-lg-4"></div>
    <form class="col-lg-4">
      <select class="form-control text-center" [(ngModel)]="selectedPosTag" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let posTag of posTags" [value]="posTag">{{posTag}}</option>
      </select>
      <input type="text" class="text-center" name="item" placeholder="Vārda sākums" [(ngModel)]="startsWith">
      <input type="text" class="text-center" name="item" placeholder="Vārda beigas" [(ngModel)]="endsWith">
      <input type="text" class="text-center" name="item" placeholder="Maksimālais burtu skaits" [(ngModel)]="maxLength">
      <input type="text" class="text-center" name="item" placeholder="Maksimālais atgriezto vārdu skaits" [(ngModel)]="limit">
      <div class="text-center pt-3">
        <input type="submit" class="btn btn-pink" value="meklēt" (click)="findWords(); basicModal.show()">
      </div>
    </form>
    <div class="col-lg-4"></div>
  </div>

  <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide(); setLoadingTrue();">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Atrastie Vārdi</h4>
        </div>
        <div class="modal-body" *ngIf="loading">
          <p class="grey-text">Tiek meklēti vārdi...</p>
        </div>
        <div class="modal-body" *ngIf="!loading">
          <p class="grey-text" *ngIf="words.length == 0">Netika atrasts neviens vārds pēc jūsu norādītajiem meklēšanas kritērijiem</p>
          <table class="table table-hover" *ngIf="words.length > 0">
            <thead>
              <tr>
                <th>Vārds</th>
                <th>Burtu Skaits</th>
                <th>Vērtība</th>
                <th>Info</th>
                <th>Patīk</th>
              </tr>
            </thead>
            <tbody *ngFor="let word of words">
              <tr>
                <td>{{ word.headword }}</td>
                <td>{{ word.length }}</td>
                <td>{{ word.score }}</td>
                <td>
                  <a href="http://www.tezaurs.lv/#/sv/{{ word.headword | lowercase }}" target="_blank">
                    <i class="fa fa-info-circle fa-2x grey-text"></i>
                  </a>
                </td>
                <td>
                  <button type="button" class="btn btn-elegant btn-sm waves-light" (click)="addToFavorites(word)">
                    <i id="star" class=" fa fa-star fa-2x white-text"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-elegant waves-light" aria-label="Aizvērt" (click)="basicModal.hide(); setLoadingTrue();" mdbWavesEffect>Aizvērt</button>
        </div>
      </div>
    </div>
  </div>

</div>