<div class="container mb-5">
  <h1 class="pt-5 font-weight-bold font-capitalized display-3 text-center">Vārdu Meklēšana</h1>

  <form>
    <select class="form-control" [(ngModel)]="selectedPosTag" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let posTag of posTags" [value]="posTag">{{posTag}}</option>
    </select>
    <input type="text" class="txt" name="item" placeholder="sākas ar..." [(ngModel)]="startsWith">
    <input type="text" class="txt" name="item" placeholder="beidzas ar..." [(ngModel)]="endsWith">
    <input type="number" class="txt" name="item" placeholder="vardu skaits..." [(ngModel)]="limit">
    <input type="number" class="txt color-pink" name="item" placeholder="max vārda garums..." [(ngModel)]="maxLength">
    <div class="text-center pt-3">
      <input type="submit" class="btn btn-pink" value="meklēt" (click)="findWords(); basicModal.show()">
    </div>
  </form>

  <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Atrastie Vārdi</h4>
        </div>
        <div class="modal-body">
          <table class="table table-hover" *ngIf="words != undefined">
            <thead>
              <tr>
                <th>Vārds</th>
                <th>Burtu Skaits</th>
                <th>Vērtība</th>
                <th>Info</th>
              </tr>
            </thead>
            <tbody *ngFor="let word of words">
              <tr>
                <td>{{ word.headword }}</td>
                <td>{{ word.length }}</td>
                <td>{{ word.score }}</td>
                <td>
                  <a href="http://www.tezaurs.lv/#/sv/{{ word.headword | lowercase }}" target="_blank">
                    <i class="fa fa-info-circle fa-2x grey-text"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" class="btn btn-primary relative waves-light" mdbWavesEffect>Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>